
<div class="container">
    <div class="row center-align">
        <div class="col s12">
            <h1>It's Burger time!</h1>
            <ul>
                {{#each burgers}}

                {{/each}}
            </ul>
<div class="col s4 offset-s4">
            <h3>Add a burger</h3>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
                </div>

                <button type="submit">Add Burgers</button>
            </form>
            </div>
        </div>
    </div>
</div>