<li style="margin-top:20px;" class="center-align">
	{{burger_name}}
{{#if devoured}}
	<button class="change-devoured btn red darken-1 yellow-text darken-2" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR TIME!
	</button>
	{{/if}}
</li>
